@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* new */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

/*----*/
body {
    background-color: #ff5c33;
}

/* Header */
.site__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 0px 3px #16161645;
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav__list a {
    text-decoration: none;
    color: black;
}

.marquee {
    height: 25px;

    overflow: hidden;
    position: relative;
    background-color: #606c38;
    color: beige;
}

.marquee div {
    display: block;

    height: 30px;
    margin-top: 5px;
    position: absolute;
    overflow: hidden;
    animation: marquee 10s linear infinite;
}

/* COMPONENT */
.box__container {
    padding: 3rem;
}

.box__content {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    margin-top: 2rem;
}

.example-box {
    margin: 20px;
    padding: 10px;
    border: 2px solid #3498db;
}

.first-section {
    border: 1px solid black;
    padding: 1rem 2rem;
}

.hippo-image {
    max-width: 50vw;
}

@media (max-width: 390px) {

    /*Header*/
    .site__header {
        max-width: 100vw;
    }

    .form {
        display: flex;
        justify-content: space-between;
    }
}