@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

body {
    background-color: rgba(250, 205, 170, 0.923)
}



.marquee {
    height: 25px;

    overflow: hidden;
    position: relative;
    background-color: #606C38;
    color: beige;
}

.marquee div {

    display: block;

    height: 30px;
    margin-top: 5px;
    position: absolute;
    overflow: hidden;
    animation: marquee 10s linear infinite;
}



.example-box {
    margin: 20px;
    padding: 10px;
    border: 2px solid #3498db;
}

.first-section {
    border: 1px solid black;
    padding: 0 10rem;
}